* {
  margin: 0;
  padding: 0;
  /* font-family:  sans-serif; */
  /* font-family: 'Roboto Serif', serif; */
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'InterRegular';
  /* font-family: 'Raleway', sans-serif; */
}
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Catamaran&family=Cinzel&family=Courgette&family=Dancing+Script:wght@400;600&family=Fira+Sans:wght@300&family=Hind+Madurai&family=Kalam&family=Noto+Sans+Meroitic&family=Noto+Serif+Old+Uyghur&family=Open+Sans&family=Oswald:wght@300&family=PT+Sans&family=PT+Sans+Narrow&family=PT+Serif:ital@1&family=Philosopher&family=Playfair+Display&family=Rajdhani:wght@400;500&family=Raleway&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&family=Satisfy&family=Signika+Negative&family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #a2aeb0;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/roboto.regular.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'InterRegular';
  src: url('../public/fonts/Inter-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'InterMediumItalic';
  src: url('../public/fonts/Inter-MediumItalic.otf');
}
@font-face {
  font-family: 'Intersemibold';
  src: url('../public/fonts/Inter-SemiBold.otf');
}
@font-face {
  font-family: 'Source_serif_pro';
  src: url("../public/fonts/SourceSerifPro-Semibold.otf");
}

.login-bar-main {
  /* background-color: #441c00; */
  /* background-color: #7d5c45; */
  background: linear-gradient(45deg, #246876, #113752);
  height: 41px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.slogan {
  margin: 4px 0px 0px 10px;
  letter-spacing: 0.4px;
  color: rgb(255, 246, 246);
}
.loginbar {
  margin: 4px 10px 0px 0px;
}
.loginbar a {
  color: rgb(255, 251, 251);
  text-decoration: none;
  padding: 0px 2px;
}
.loginbar-slash {
  padding-left: 5px;
  padding-right: 2px;
}
.loginbar span {
  color: rgb(255, 252, 252);
}
.navbar-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  position: sticky;
  z-index: 13;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 3px darkgrey;
  height: 61px;
  /* background-color: #dad3cc; */
  /* background-color: #f6e7d8; */
  /* height: 81px; */
}
.navbar-logo {
  margin: 1px 0px 0px 10px;
  display: flex;
  width: 34%;
}
.navbar-logo-img img {
  padding-top: 4px;
  width: 55px;
  filter: brightness(0.1);
}
.logo-title {
  color: #6f3b17;
  /* color: #6c0c0c; */
  font-size: 28px;
  padding: 0px 0px 0px 3px;
  height: 80px;
}
.logo-title-word1 {
  text-transform: lowercase;
  font-size: 24px;
  left: 2px;
  bottom: -18px;
  position: relative;
  font-family: auto;
  margin-bottom: 0;
}
.logo-title-word2 {
  font-size: 32px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: auto;
  height: 42px;
}

.navbar-main-list {
  width: 54%;
  display: flex;
  justify-content: flex-start;
  margin: 12px 1px 0px 0px;
  gap: 40px;
}
.navbar-main-list ul {
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-main-list li {
  letter-spacing: -0.21px;
  list-style: none;
  color: #3a5a6d;
  /* font-family: "Open Sans", sans-serif; */
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  /* text-transform: uppercase; */
}
.navbar-main-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #89a6b8; /* underline color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.navbar-main-list li:hover::after {
  transform: scaleX(1);
}
.slider-image {
  width: 100%;
  height: 375px;
  filter: contrast(0.75);
}
.slider-main {
  position: relative;
  height: 375px;
}
.slider-main h2 {
  font-weight: 600;
  text-shadow: 2px 3px 4px #5c3b3b;
  color: rgb(255, 245, 245);
  position: absolute;
  bottom: 141px;
  left: 184px;
  font-family: Roboto;
  font-size: 38px;
}
.slider-main p {
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  position: absolute;
  left: 132px;
  bottom: 101px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  text-shadow: 2px 3px 4px #5c3b3b;
}
/* .travel-cards-main{
  margin-bottom: 20px;
} */
.travel-info-bx-main {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  padding: 15px 30px;
}
.travel-info-bx {
  /* margin-bottom: 34px; */
  border-radius: 8px;
  border: 1px solid black;
  width: 23%;
}
.travel-info-bx img {
  height: 225px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}
.travel-info-bx-content {
  padding: 10px;
}
.travel-info-bx-content .trip-days {
  color: #4a5858;
}
.travel-info-bx-content p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin-top: 8px;
}
.travel-info-bx-content h3 {
  font-size: 16px;
  margin-top: 8px;
  font-family: inherit;
}
.travel-info-bx h4 {
  font-size: 15px;
  margin-bottom: 11px;
  text-transform: uppercase;
  color: #a40c72;
  font-weight: 600;
  font-family: auto;
  margin-top: 7px;
  text-align: center;
  font-family: system-ui;

}
.subtitle{
  font-size: 16px;
}
.travle-info-button {
  text-align: center;
}
.travle-info-button button {
  margin-bottom: 18px;
  padding: 6px 22px;
  color: white;
  border: none;
  background-color: #f68808;
}
.travel-packages-heading {
  text-align: center;
}

/* =============================== For Login Page ========================== */
.loginpage-main{
  margin: auto;
  width: 50%;
  height: 510px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginpage-main h4{
  color: #701616;
  font-size: 32px;
  margin-bottom: 28px;
}
.input-section{
  width: 64%;
}
.input-section input{
  width: 100%;
  height: 38px;
  margin-bottom: 11px;
  outline: none;
  padding-left: 4px;
}
.login-btn{
  display: flex;
  justify-content: center;
}
.login-btn button{
  width: 50%;
  margin-top: 12px;
  font-size: 15px;
  color: white;
  background-color: #602020;
  padding: 3px 0px;
}
.sign-up-link{
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
.text{
  margin-right: 10px;
}
.sign-up-link a{
  color: maroon;
  text-decoration: underline;
  font-size: 14px;
}
.step-main{
  margin-top: 39px;
}

.testimonial-slide {
  transition: transform 0.4s ease;
  /* padding: 20px; */
  box-sizing: border-box;
  transform: scale(0.9);
}

.testimonial-slide.slick-center {
  transform: scale(1.1); /* Bigger center card */
  z-index: 2;
}


/* === Custom slick dots === */
.slick-dots {
  bottom: -25px;
}
.slick-dots li button:before {
  font-size: 14px;         /* ⬅️ bigger dot */
  color: #ccc;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #475658c5 !important;          /* ⬅️ orange color for active dot */
  font-size: 16px;
}
.minus_icon{
  margin-left: 23px;
}

@media only screen and (max-width: 600px) {
  .minus_icon{
  margin-left: 0px;
}
  .term{
    font-size: 11px;
  }
  .slogan{
    font-size: 11px;
  }
  .loginbar{line-height: 16px;}
  .loginbar a{
    font-size: 11px
  }
  .loginbar-slash{
    font-size: 11px
  }
  /* Slider */
  .slider-main{
    height: 296px;
  }
  .viatra_slider .carousel-caption{
    left: -25%;
  }
  .viatra_slider .carousel-caption h2{
    font-size: 20px;
  }
  .viatra_slider .carousel-caption p{
    font-size: 15px;
  }
  .slider-image{
    height: 270px;
    object-fit: cover;
    filter: brightness(0.8);
  }
  .slider-main p {
  left: 164px;
  bottom: 60px;
}
.slider-main .carousel-indicators {
  display: none !important;
}


}